@use '../../shared/scss/utils/main' as *;

button {
  background-color: $grayscale-40;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  padding: 11px 20px;

  &.style-outline {
    background-color: $white;
    border: 1px $grayscale-40 solid;
    color: $grayscale-40;
  }

  &.primary {
    background-color: $heritage-blue;
    color: $white;

    &.style-outline {
      background-color: $white;
      border: 1px $heritage-blue solid;
      color: $heritage-blue;
    }
  }

  &.secondary {
    background-color: $grayscale-60;
    color: $white;

    &.style-outline {
      background-color: $white;
      border: 1px $grayscale-60 solid;
      color: $black;
    }
  }

  &.tertiary {
    background-color: transparent;
    color: $black;
    padding: 0;
    text-decoration: underline;
  }

  &.success {
    background-color: $warm-green-50;
    color: $white;

    &.style-outline {
      background-color: $white;
      border: 1px $warm-green-50 solid;
      color: $warm-green-50;
    }
  }

  &.warning {
    background-color: $gold-20;
    color: $black;

    &.style-outline {
      background-color: $white;
      border: 1px $gold-20 solid;
      color: $gold-20;
    }
  }

  &.danger {
    background-color: $red-50;
    color: $white;

    &.style-outline {
      background-color: $white;
      border: 1px $red-50 solid;
      color: $red-50;
    }
  }

  &.disabled {
    background-color: $grayscale-60;
    color: $white;
    opacity: 0.3;

    &.style-outline {
      background-color: $white;
      border: 1px $grayscale-60 solid;
      color: $black;
      opacity: 0.3;
    }
  }

  &.size-small {
    font-size: 12px;
    padding: 10px 16px;
  }

  &.size-large {
    font-size: 18px;
    padding: 20px 35px;
  }
}
