@use '../../shared/scss/utils/main' as *;

button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  padding: 11px 20px;

  &.primary {
    background-color: $primary;
    color: $white;

    &.style-outline {
      background-color: $white;
      border: 1px $primary solid;
      color: $primary;
    }
  }

  &.secondary {
    background-color: $secondary;
    color: $white;

    &.style-outline {
      background-color: $white;
      border: 1px $secondary solid;
      color: $black;
    }
  }

  &.tertiary {
    background-color: transparent;
    color: $black;
    padding: 0;
    text-decoration: underline;
  }

  &.success {
    background-color: $success;
    color: $white;

    &.style-outline {
      background-color: $white;
      border: 1px $success solid;
      color: $success;
    }
  }

  &.warning {
    background-color: $warning;
    color: $black;

    &.style-outline {
      background-color: $white;
      border: 1px $warning solid;
      color: $warning;
    }
  }

  &.danger {
    background-color: $danger;
    color: $white;

    &.style-outline {
      background-color: $white;
      border: 1px $danger solid;
      color: $danger;
    }
  }

  &.size-small {
    font-size: 12px;
    padding: 10px 16px;
  }

  &.size-large {
    font-size: 18px;
    padding: 20px 35px;
  }
}
