$white: #fff;
$black: #000;
$gray: #aaa;
$heritage-blue: #002D72;
$spirit-blue: #68ace5;
$secondary-green: #009b77;
$yellow: #f1c400;
$tertiary-red: #cf4520;
$primary: $heritage-blue;
$secondary: $gray;
$success: $secondary-green;
$warning: $yellow;
$danger: $tertiary-red;
